/* Portal SIM */
/* Autor: Prodesp */

html{
  position: relative; /* Sticky footer styles */
  min-height: 100%;   /* Sticky footer styles */
}

body {
  /* Margin bottom by footer height */
  	margin: 0 auto;
	width: 100%;
	height: 100% !important;
	margin-bottom: 40px;
    padding-bottom:40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

img {border:none;}

* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0; 
	padding: 0;
}

/** PARALLAX **/
.bgParallax {	
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0;
	max-width: 1920px;
	min-height: 400px;
	width: 100%;
}

#principal{
	background-image: url(../imagens/bg-masthead.jpg);
	margin-bottom:3em;
	padding-bottom:1.3em;
}

#principal h2{
	color:#FFF;	
	margin:0;
	text-align:right;
}

.logo {margin-top: 20px;}
.logo h2 {margin-top: 20px !important; font-size: 1.6em; font-weight: bold;}
.login {margin-top: 30px;}
.label {color: #000; font-size: 1em;}

/* Painel Pode e Não Pode */
.painel .titulo{min-height:45px;padding-left:15px}
.painel .titulo h2{font-size:16px;font-weight:bold;color:#FFF;margin:0;padding:14px 0}
.painel .conteudo{background-color:#f2f2f2;border:1px solid #CCC;border-top:none;padding:20px;min-height:220px}
.painel ul{padding-left:21px}
.painel ul li{margin-bottom:10px;padding-left:5px}
.painel ul li span{position:relative;top:-3px}
.painel.podem .titulo{background:repeating-linear-gradient(45deg, transparent, transparent 10px, #248139 10px, #248139 21px),linear-gradient(to bottom, #237c37, #248139)}
.painel.podem li{list-style-image:url("../imagens/icone-ok.png")}
.painel.nao_podem .titulo{background:repeating-linear-gradient(45deg, transparent, transparent 10px, #cf3722 10px, #cf3722 20px),linear-gradient(to bottom, #c73521, #cf3722)}
.painel.nao_podem li{list-style-image:url("../imagens/icone-erro.png")}

#consulta-prefs{margin-top:25px;background-color:#eeeeee;padding:20px 20px 10px;border:1px solid #CCC;border-radius:5px}
#consulta-prefs h3 {font-size: 14px; font-weight: bold; margin-top: 5px;}

.footer {
  width: 100%;
  height: 40px;
  background-color: #F2F2F2;
  text-align:center;
  margin-top:20px;
}

.footer a{
  color:#777;
}

.footer a:focus{
  text-decoration:none;
}

.container .text-muted {
  margin: 10px 0;
}



